@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    width: 50%;
    padding: 1rem;
}

img {
    width: 100%;
}

header {
    text-align: center;
    padding: 1rem 0;
}

/* 오버레이 */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
}

/* 팝업창 */
.main_popup {
    position: fixed;
    bottom: 0;
    display: none;
}

.main_popup button {
    border: 0;
    background: none;
}

.overlay.on {
    display: none;
}

.main_popup.on {
    display: block;
}

.main_popup .btn_wrap {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.main_popup .btn_today_close {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
}

.main_popup .btn_today_close p {
    border: thin solid white;
    border-radius: 50%;
    padding: 2px 8px 3px;
    margin-right: 8px;
}

.main_popup .popUpImgWrap {
    padding: 1.9rem;
    background: white;
}

.main_popup .popUpImgbox {
    font-size: 0;
}

.main_popup button {
    background: none;
    border: none;
    font-size: 15px;
    color: white;
}

.main_popup .bx-wrapper {
    margin: 0 !important;
    border: none !important;
}

.main_popup .bx-pager {
    bottom: 35px !important;
    z-index: 9999;
}

.main_popup .bx-pager-item a {
    background: rgb(153, 153, 153) !important;
}

.main_popup .bx-pager-item a.active {
    background: rgb(255, 255, 255) !important;
}